<!-- Footer -->
<div class="footer text-dark pt-3 pb-3">
    <div class="container">
        <div class="row align-items-center">
            <!-- Copyright Text -->
            <div class="col-md-6 text-md-start text-center mb-3 mb-md-0" id="footer-text">
                <p class="mb-0">&copy 2023 Plate-Passport. All rights reserved.</p>
            </div>
            <!-- Icons -->
            <div class="col-md-6 text-md-end text-center" id="navbar-icons">
                <a href="https://github.com/Al-Scripting/PalatePassport" class="text-dark mx-2">
                    <i class="fa-brands fa-github fa-2xl"></i>
                </a>
                <a href="" target="_blank" class="text-dark mx-2">
                    <i class="fa-brands fa-2xl fa-discord"></i>
                </a>
            </div>
        </div>
    </div>
</div>
