<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample10" aria-controls="navbarsExample10" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-md-center">
        <ul class="navbar-nav">
            <!-- Logo as an image -->
            <li class="nav-item active">
                <a class="nav-link" href="/home">
                    <img src="/Asset/images/Group_Logo.png" id="Group-logo" alt="GroupLogo"> <!-- Adjust the src as per your logo image -->
                </a>
            </li>
            <!-- Home -->
            <li class="nav-item">
                <a class="nav-link" href="/home"><i class="fa-solid fa-house fa-sm"></i> Home</a>
            </li>
            <!-- Recipes Database -->
            <li class="nav-item">
                <a class="nav-link " href="/recipelist"><i class="fa-solid fa-bars"></i> Recipes</a>
            </li>
            <!-- About Us -->
            <li class="nav-item">
                <a class="nav-link" href="/about"><i class="fa-regular fa-user"></i> About Us</a>
            </li>
            <!-- Contact Us -->
            <li class="nav-item">
                <a class="nav-link" href="/contact"><i class="fa-regular fa-envelope"></i> Contact Us</a>
            </li>
            <!-- Login Button -->
            <% if(typeof displayName == 'string' && displayName) { %>

                <li class="nav-item">
                    <a href="/logout" class="nav-link" >
                        <i class="fa-solid fa-sign-out-alt"></i> Logout</a>
                </li>

                <li class="nav-text">
                    <a class="nav-link"><i class="fa-regular fa-face-smile"></i> Welcome, <%= displayName %></a>
                </li>

            <% } else { %>
                <li class="nav-item">
                    <a href="/login" class="nav-link">
                        <i class="fa-solid fa-sign-in-alt"></i> Login</a>
                </li>
            <% } %>
        </ul>
    </div>
</nav>
