<% include partials/header.ejs %>

<title>Home</title>
<link rel="icon" type="image/x-icon" href="/Asset/images/hero.png">

<%-include('partials/nav.ejs') %>


<!-- About Section-->
<section id="about">
    <div class="about">

        <div class="about-content">
            <!-- Main heading, subheading, and description -->
            <h1>Plate-Passport</h1>
            <h3>INTERNATIONAL, LOCAL, HOME-MADE RECIPES</h3>
            <p>"Plate Passport is a vibrant community where people from around the world share their favorite recipes. It's more than just a recipe site; it's a place where culinary traditions from various cultures come alive. From the spicy curries of India to the delicate pastries of France, our users bring a slice of their home to your kitchen. Our goal is simple: to connect people through the love of food and to make global cuisine accessible to everyone. Whether you're a seasoned chef or a curious beginner, Plate Passport invites you on a delicious journey to explore and savor the world's flavors."</p>

            <div class="btn-box">
                <a href="/recipelist">Community Recipes</a>
                <a href="/contact">Problems, Let's Talk</a>
            </div>

        </div>

        <div class="col-lg-6 order-3 order-lg-2 about-img" data-aos="zoom-out" data-aos-delay="200">
            <img src="/Asset/images/about.png" class="img-fluid animated hero-animation" alt="">
        </div>






</section>
<!-- About Section-->


<%-include('partials/footer.ejs') %>

<%-include('partials/bottom.ejs') %>
