<% include partials/header.ejs %>

<title>Home</title>
<link rel="icon" type="image/x-icon" href="/Asset/images/hero.png">

<%-include('partials/nav.ejs') %>


<!-- About Section-->
<section id="about">

</section>
<!-- About Section-->


<%-include('partials/footer.ejs') %>

<%-include('partials/bottom.ejs') %>
