<% include partials/header.ejs %>

<title>Home</title>
<link rel="icon" type="image/x-icon" href="/Asset/images/otu-fav.png">

<%-include('partials/nav.ejs') %>

<!-- Splash Content -->
<div class="container splash-content custom-background" id="splash">
    <h1 class="display-4">Welcome to the Ontario Tech Student Database System</h1>
    <p class="lead">This Web app allows you to keep track of Students Information and GPA</p>
    <a href="/studentlist"><button class="btn btn-primary reserve-btn" id="start-btn">Start Now</button></a>
</div>



<%-include('partials/footer.ejs') %>

<%-include('partials/bottom.ejs') %>
