<% include partials/header.ejs %>

<title>Home</title>


<%-include('partials/nav.ejs') %>

<!-- Splash Content -->
<!-- Hero Section-->
<section id="home">
    <div class="container">
        <div class="row">
            <!-- Left column containing text content -->
            <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex align-items-center">
                <div data-aos="zoom-out">
                    <!-- Main heading and subheading -->
                    <h1>Welcome To <br> <span><img src="/Asset/images/Group_Logo.png" id="hero-logo"></span></h1>
                    <h2>"Your Ticket to a World of Flavors"</h2>

                    <!-- Call-to-action buttons -->
                    <div class="d-lg-flex">
                        <a href="/recipelist" class="btn-projects">Plate-Passports Recipes</a>
                        <a href="/about" class="btn-get-started">About Us</a>
                        <a href="/contact" class="btn-contacts">Contact Me</a>
                    </div>
                </div>
            </div>

            <!-- Right column containing the hero image -->
            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-out" data-aos-delay="200">
                <!-- Hero image displayed on the right side -->
                <img src="/Asset/images/hero.png" class="img-fluid animated" alt="">
            </div>
        </div>
    </div>
</section>
<!-- Hero Section-->


<%-include('partials/footer.ejs') %>

<%-include('partials/bottom.ejs') %>
