<%- include ../partials/header.ejs %>

<title>Add Recipe</title>


<%- include ../partials/nav.ejs %>

<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">

            <h1 class="mt-4 mb-4">Add Recipe</h1>

            <!-- Recipe Form -->
            <form class="form" method="POST">
                <!-- Recipe's Name -->
                <div class="form-group">
                    <label for="nameTextField">Recipe's Name</label>
                    <input type="text" class="form-control"
                           id="nameTextField"
                           placeholder="Enter the Recipe's Name"
                           name="Name" required>
                </div>

                <!-- Recipe -->
                <div class="form-group mt-3">
                    <label for="descriptionTextArea">Recipe</label>
                    <input type="text" class="form-control"
                           id="descriptionTextArea"
                           placeholder="Enter the Recipe"
                           name="Discription" required>
                </div>

                <!-- Country of Origin -->
                <div class="form-group mt-3">
                    <label for="CountryTextField">Origin of Dish</label>
                    <input type="text" class="form-control"
                           id="CountryTextField"
                           placeholder="Enter the Dishes Country of Origin"
                           name="Country" required>
                </div>

                <!-- Time Taken -->
                <div class="form-group mt-3">
                    <label for="TimeTextField">Overall Time to Cook</label>
                    <input type="text" class="form-control"
                           id="TimeTextField"
                           placeholder="Enter the full time to cook the meal"
                           name="Time" required>
                </div>



                <!-- Submit and Cancel Buttons -->
                <button class="btn btn-primary mt-5" type="submit">
                    <i class="fas fa-edit"></i> Submit
                </button>

                <a href="/recipelist" class="btn btn-warning mt-5">
                    <i class="fas fa-undo"></i> Cancel
                </a>

            </form>
        </div>
    </div>
</div>

<%- include ../partials/footer.ejs %>

<%- include ../partials/bottom.ejs %>
