@import "https://unpkg.com/open-props";
* {
  margin: 0;
  padding: 0;
}

a {
  color: #00B7FF;
}

body, html{
  height: 100%;
  width: 100%;
  font-family: Poppins, sans-serif;
}

body {
  background-color: rgba(0, 119, 202, 0.80);
}

#splash{
  padding-top: 100px;
  background: #FFD099;
  height: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



/* Style navigation links in the top bar */
.navbar {
  background-color: #003C71;
}

.navbar-nav .nav-link {
  color: #FFD099;
}

.navbar-nav .nav-link:hover {
  color: #FF6C22;
}

/* Style icons and active links in the bottom navbar */
.navbar-icons {
  margin-right: 5%;
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;
}

.navbar-icons a i {
  margin-right: 10px;
}

.navbar-nav .nav-item.active .nav-link {
  color: #ffcc00;
}

#otu-logo{
  background: rgba(255, 255, 255, 0.11);
  border-radius: 20%;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #E75D2A; /* Bootstrap light gray background color */
  color: white;
  text-align: center;
}

.splash-content {
  text-align: center;
  margin-top: 100px; /* Adjust the top margin as needed */
}

.reserve-btn {
  margin-top: 20px; /* Adjust the top margin as needed */
}


/*Button Animation*/

#start-btn {
  transform: translateY(calc(var(--y, 0) * 1%)) scale(var(--scale));
  transition: transform 0.1s;
  position: relative;
}

#start-btn:hover {
  --y: -10;
  --scale: 1.1;
  --border-scale: 1;
}

#start-btn:active {
  --y: 5%;
  --scale: 0.9;
  --border-scale: 0.9, 0.8;
}

#start-btn:before {
  content: "";
  position: absolute;


  --angle-one: 105deg;
  --angle-two: 290deg;
  --spread-one: 30deg;
  --spread-two: 40deg;
  --start-one: calc(var(--angle-one) - (var(--spread-one) * 0.5));
  --start-two: calc(var(--angle-two) - (var(--spread-two) * 0.5));
  --end-one: calc(var(--angle-one) + (var(--spread-one) * 0.5));
  --end-two: calc(var(--angle-two) + (var(--spread-two) * 0.5));

  mask: conic-gradient(
          transparent 0 var(--start-one),
          white var(--start-one) var(--end-one),
          transparent var(--end-one) var(--start-two),
          white var(--start-two) var(--end-two),
          transparent var(--end-two)
  );

  z-index: -1;
}


/*Database*/
/* Style the header text */
.table thead th {
  color: #ffffff; /* White text color */
  background-color: #343a40; /* Dark background color for header */
}

/* Style the background of table rows */
.table tbody tr {
  background-color: #f8f9fa; /* Light background color for rows */
  transition: transform 0.3s ease-in-out; /* Add a smooth transition effect */
}

/* Style the text color of table rows */
.table tbody td {
  color: #212529; /* Dark text color for rows */
}

/* Pop-out effect on hover */
.table tbody tr:hover {
  transform: scale(1.05); /* Increase the size by 5% on hover */
}

/* Style buttons in the home section */
#add-btn a{
  color: #22181C;
  position: relative;
  font-family: 'Poppins', sans-serif;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  background:  #F6E8EA;
  border: 2px solid rgba(34, 24, 28, 0.5);
  border-radius: 8px;
  font-size: 19px;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
}
/* Button hover effect */

#add-btn:nth-child(2){
  color: black;
  background: #FFD099;
}

#add-btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;

  z-index: -1;
  overflow: hidden;
  transition: .5s;
}

#add-btn:hover{
  color: #E75D2A;
}







