@import "https://unpkg.com/open-props";
* {
    margin: 0;
    padding: 0;
}

a {
    color: #00B7FF;
}

body, html{
    height: 100%;
    width: 100%;
    font-family: Poppins, sans-serif;
}


/* Style navigation links in the top bar */
.navbar {
    background-color: #001524;
}

.navbar-nav .nav-link {
    color: white;
}

.navbar-nav .nav-link:hover {
    color: #D6CC99;
}

/* Style icons and active links in the bottom navbar */
.navbar-icons {
    margin-right: 5%;
    display: flex;
    align-items: center;
    width: 30px;
    height: 30px;
}

.navbar-icons a i {
    margin-right: 10px;
}

.navbar-nav .nav-item.active .nav-link {
    color: #ffcc00;
}

#Group-logo{
    background: white;
    width: 30%;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #001524; /* Bootstrap light gray background color */
    color: white;
    text-align: center;
}

#footer-text{
    color: white;
}

/* Bottom Nav */
#navbar-icons a i {
    color: #F6E8EA; /* Set the default icon color */
    transition: transform 0.3s ease, color 0.3s ease; /* Add smooth transition for transform and color */
}

/* Change icon size and color on hover */
#navbar-icons a:hover i {
    transform: scale(1.8); /* Scale up the icon on hover */
    color: #D6CC99; /* Change the icon color on hover to the desired color */
}






